<!DOCTYPE html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <div>
                <label for="username">Username</label>
                <input type="text" class="" name="username" placeholder="Username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" class="" name="password" placeholder="password" required>
            </div>
            <div>
                <button type="submit" class="">Login</button>
            </div>
        </div>
    </body>
</html>