<!DOCTYPE html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <div>
                <label for="username">Username</label>
                <input type="text" class="" name="username" placeholder="Username" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" class="" name="email" placeholder="Email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" class="" name="password" placeholder="Password" required>
            </div>
            <div>
                <label for="password2">Retype Password</label>
                <input type="password" class="" name="password2" placeholder="Retype Password" required>
            </div>
            <div>
                <button type="submit" class="">Register</button>
            </div>
        </div>
    </body>
</html>